@media screen and (max-width:974px){
    .navbar{
        min-width: auto;
        width: 85%;
   
        
    }
}


@media screen and (max-width:900px){
    .navbar{
        min-width: auto;
        width: 140%;
   
        
    }
}


@media screen and (max-width:700px){
    .navbar{
        min-width: auto;
        width: 100%;
   
        
    }
}






@media screen and (max-width:974px){
    .header-imagen{
        min-width: auto;
        width: 85%;
   
        
    }
}


@media screen and (max-width:900px){
    .header-imagen{
        min-width: auto;
        width: 140%;
   
        
    }
}


@media screen and (max-width:700px){
    .header-imagen{
        min-width: auto;
        width: 100%;
   
        
    }
}









@media screen and (max-width:974px){
    .not2{
        min-width: auto;
        width: 85%;
   
        
    }
}


@media screen and (max-width:900px){
    .not2{
        min-width: auto;
        width: 140%;
   
        
    }
}


@media screen and (max-width:700px){
    .not2{
        min-width: auto;
        width: 80%;
        margin-left: 90px;
        
   
        
    }
}









@media screen and (max-width:800px){
    #comentario{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:90px;
        padding: 65px 0px;
        display: block;
        margin-bottom: 300px;
        
        
    }
}




@media screen and (max-width:974px){
    #ftcon{
        min-width: auto;
        width: 85%;
   
        
    }
}


@media screen and (max-width:900px){
    #ftcon{
        min-width: auto;
        width: 100%;
        margin-top: 250px;
   
        
    }
}


@media screen and (max-width:700px){
    #ftcon  {
        
        min-width: auto;
        width: 100%;
        margin-top: 250px;
        padding-bottom: 300px;
        display: block;
        
        
   
        
    }
}


@media screen and (max-width:700px){
    #ftcon figure  {
        
       
        display: none;
        
        
   
        
    }
}



@media screen and (max-width:700px){
    #ftcon p .box  {
        
       
       font-size: 10px;
        
        
   
        
    }
}


@media screen and (max-width:633px){
    .box {
       display: none;
        
        
   
        
    }
}