* {
    font-family: 'Caprasimo', cursive;
    font-family: 'Kablammo', cursive;
    font-family: 'Varela Round', sans-serif;
    color: aliceblue;
}

body {

    margin: 0;
    padding: 0;
    background: rgb(18,18,32);
background: linear-gradient(347deg, rgba(18,18,32,1) 42%, rgba(0,212,255,1) 50%, rgba(33,9,121,1) 100%);



}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}


nav ul {
    box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(153, 0, 255, 0.37);
   

}

nav ul li {

    width: 80px;
    height: 50px;
}

nav ul li a {
    display: block;
    color:aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.imagen1 {
    color: black;
    display: flex;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
    align-items: center;
    


}

p {
    width: 400px;
    box-shadow: 7px -2px 0px 0px rgba(153, 0, 255, 0.37);
    -webkit-box-shadow: 7px -2px 0px 0px rgba(153, 0, 255, 0.37);
    -moz-box-shadow: 7px -2px 0px 0px rgba(153, 0, 255, 0.37);
    border-radius: 20px;
    padding: 5px;


}


h2,
h3,
h4 {
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: flex-start;
    text-align: center;


}

input {
    border-radius: 10px;
   
}

button {
    border-radius: 10px;
     color: black;
}


header {
    display: row;
    color: #EFEFEF;
    justify-content: center;
    align-items: center;

}



.not2 {
    margin: 0 auto;
    margin-bottom: 80px;
}

.imagen2 {
    display: flex;
    justify-content: center;
}




form {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside>p {
    display: flex;
    justify-content: center;
    border: none;

}

#comentario {
    display: flex;
    box-shadow: 13px -19px 0px 0px rgba(153, 0, 255, 0.37);
    -webkit-box-shadow: 13px -19px 0px 0px rgba(153, 0, 255, 0.37);
    -moz-box-shadow: 13px -19px 0px 0px rgba(153, 0, 255, 0.37);
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    height: 600px;



}


#deja_comentario {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;






}

form {
    display: flex;
    flex-direction: column;
    box-shadow: 10px -15px 0px 0px rgbargba(153, 0, 255, 0.37);
    -webkit-box-shadow: 10px -15px 0px 0px rgba(153, 0, 255, 0.37);
    -moz-box-shadow: 10px -15px 0px 0px rgba(153, 0, 255, 0.37);
    border-radius: 10px;
    width: 300px;
    height: 300px;
}


.ult {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 15%;
    margin: 0 auto;

}

footer {
    background-color: rgba(153, 0, 255, 0.37);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 400px;


}

/* body>header>div{
    display: inline-block;
} */

.boton-eliminar {
    color: white;
    background-color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
}

/* Estilo para cada elemento del array */
.elemento {
    margin-bottom: 10px;
   
    padding: 10px;
    border-radius: 5px;
}

/* Estilo para el párrafo que muestra las propiedades */
.elemento p {
    margin: 0;
}


/* Estilo para el input */
input[type="text"] {
    border: none;
    /* Elimina el borde del input */
    padding: 5px;
    /* Añade un poco de espaciado */
}

#texto{
    color: black;
}


